{% extends "base.html" %}
{% load static %}


{% block title %}Daily Foreign Policy Article Content{% endblock title %}

{% block body %}
<div>
    <h1>Articles for {{today}}</h1>
    {% for article in articles %}
    <div>
        <a href="{% url 'display_single_article' id=article.id %}"><h3>{{article.title}}</h3></a>
        <div>
            {% for author in article.authors.all %}
                <span>{{author.first_name}} {{author.last_name}},</span>
                <p>{{ article.countries.all|join:", " }}</p>
            {% endfor %}
        </div>
        <div>
            {% for tag in article.tags.all %}
            <span>{{tag.name}}, </span>
            {% endfor %}
        </div>
    </div>
    <br>
    {% endfor %}

  </body>
  
</div>
{% endblock body %}